<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ3o_-nG1VYvQwyW3ItvmS3tf7odaeZLg</string>
	<key>GCM_SENDER_ID</key>
	<string>445911693831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.zapchasti24</string>
	<key>PROJECT_ID</key>
	<string>zapchasti24-test</string>
	<key>STORAGE_BUCKET</key>
	<string>zapchasti24-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445911693831:ios:46d5c7d56e9183c5c6c8a2</string>
</dict>
</plist>